<html>
<head>
<title>temlates</title>
</head>
<body>
<h1>enter the text to be analysed </h1>

<form action ='/analyse' method='GET'>
    
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <br><br>
    <input type="checkbox" name="removepunc">Removepunc<br>
    <input type="checkbox" name="capitalise">Capitalise<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <button type="submit">Text-Analyser</button><br>
    <button type="reset">Clear all</button><br> 


</form>
</body>
</html>